<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action='/submit' method="post">
        <label for="science">Science:</label><br>
        <input type="text" id="science" name="science"><br>
        <label for="maths">Maths:</label><br>
        <input type="text" id="maths" name="maths"><br>
        <label for="c">C:</label><br>
        <input type="text" id="c" name="c"><br>
        <label for="ds">Data Science:</label><br>
        <input type="text" id="ds" name="ds"><br>
        <input type="submit" value="submit">
      </form>
</body>
</html>